/* Easy Panorama Editor Styles */
.wp-block-easy-panorama-block {
  position: relative;
  .panorama--help-text {
    position: absolute;
    top: 0;
    right: 0;
  }
  .panorama--help-icon {
    display: inline-block;
    padding: 5px;
    color: #fff;
  }
}

.panorama--image {
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  img {
    height: 100%;
    max-width: none;
  }
}
