/* Easy Panorama Editor Styles */
.epblock {
  position: relative;

  &__image-container {
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    img {
      height: 100%;
      max-width: none;
    }
  }

  &__help-text {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 0;
  }

  &__help-icon {
    display: inline-block;
    padding: 10px;
    color: #fff;
  }
}
